h1{color:blueviolet; font-size: 12px;}

titulocentral{text-align: center;}

.supertitulo{font-size: 50px;}
#tituloprincipal{font-size: 90px; color:darkgray;}

p{background-color: cornsilk;}
                
 .minhalista li{
     color: darksalmon;
}