.alternada{
    list-style: upper-alpha;
    font-size: 30px;
    color: slategrey;
    width: fit-content;
    background-color: black;
}

.alternada li:nth-child(odd){
    background-color: blueviolet;
}

.alternada li:nth-child(even){
    background-color: darkorchid;
}