.quadrado{
    border: 3px solid black;
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: cadetblue;
    text-align: center;
    position: absolute;
    
}

.quadradoum{
    left: 0px;
    top: 0px;
    background-color: gainsboro;
}

.quadradodois{
    bottom: 0px;
    right: 0px;
    background-color: darkgray;
}

.quadradotrês{
    left: 0px;
    bottom: 0px;
    background-color: dimgray;
}

.quadradoquatro{
    right: 0px;
    top: 0px;
    background-color: floralwhite;
}

body{
    background-image: url(images/textura-preta_1205-327.jpg);
    background-attachment: fixed;
}