.quadrado{
    border: 3px solid black;
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: cadetblue;
    text-align: center;
    position: absolute;
}

.quadradodois{
    bottom: 0px;
    right: 0px;
    background-color: darkgray;
}

.quadradotrês{
    left: 0px;
    bottom: 0px;
    background-color: dimgray;
}