.imagem{
    background-image: url(imagens/github-logo-background.png);
    width: 200px;
    height: 200px;
    display: block;
    background-size: contain;
}

.imagem:hover{
    background-position: 0px 50px;
}
.imagem:active{
    background-position: 50px 50px;
}